:root {
  --background: rgb(25, 25, 25);
  --background-transparent: rgba(25, 25, 25, 0.9);
  --main: rgb(40, 40, 40);
  --main-transparent: rgba(40, 40, 40, 0.9);
  --second: rgb(255, 255, 255);
  --second-transparent: rgba(255, 255, 255, 0.9);
  --third: rgb(126, 126, 126);
  --fourth: rgb(48, 48, 48);
  --accent-color: rgb(255, 0, 0);
  --link-cursor: url(../cursors/Link.cur), pointer;
  --default-cursor: url(../cursors/Normal.cur), default;
  --header-height: 80px;
  --logo-img-size: 40px;
  --border-radius: 2px;
  --nav-item-height: 35px;
  --searchbar-width: 275px;
  --top-height: 21px;
}

/* Media Queries */
@media screen and (max-width: 1365px) {
  #home {
    max-width: 90vw !important;
  }

  .swipe-right {
    right: 5vw !important;
  }
}

@media screen and (max-width: 605px) {
  #searchbar {
    display: none !important;
  }

  header.search {
    transform: translateX(-45vw) !important;
    width: 145vw !important;
  }

  #magnifier {
    transform: translateX(-10px) !important;
    font-size: 1.5rem !important;
  }

  #magnifier.search{
    transform: translateX(calc(var(--searchbar-width) - 12.5px)) !important;
  }
}

/* Imports */

@font-face {
  font-family: Cera Pro;
  src: url(../fonts/Cera-Pro-Medium.otf);
}

/* Global */

* {
  box-sizing: border-box;
  font-family: "Cera Pro", system-ui, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  max-width: 100vw;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

*:hover {
  transition: 0.4s;
}

*:not(:hover) {
  transition: 0.33s;
}

*:focus-visible {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  overflow-x: hidden !important;
  color: var(--second);
  cursor: var(--default-cursor);
}

body.no-overflow {
  overflow: hidden !important;
}

p {
  cursor: var(--default-cursor);
  width: fit-content;
  margin: 0;
}

a[href=""],
a[href="#"] {
  display: none;
}

h1,
h3 {
  margin: 0;
  width: fit-content;
}

h3 {
  color: var(--second);
  font-size: 1.5rem;
}

a p {
  cursor: var(--link-cursor);
}

b {
  font-weight: bolder;
}

span {
  font-size: 0.625rem;
  color: var(--third);
  font-family: system-ui;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: var(--link-cursor);
}

section {
  margin-top: 50px;
}

button {
  background: var(--accent-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 6px 12px;
  color: var(--second);
  font-weight: normal;
  cursor: var(--link-cursor);
  outline: 1px solid transparent;
}

button:hover {
  filter: brightness(0.825);
  outline-color: var(--fourth);
}

header {
  width: 100vw;
  height: var(--header-height);
  background: linear-gradient(to bottom, var(--main-transparent), transparent);
  display: flex;
  align-items: center;
  padding: 0 25px;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 10;
}

header.active {
  background: var(--background-transparent);
  border-bottom: 1px solid var(--fourth);
  margin-bottom: -1px;
}

.logo:before {
  content: "";
  background: url(../img/favicon-temp.png) center;
  background-size: cover;
  width: 150px;
  height: var(--logo-img-size);
  display: block;
}

.logo {
  color: red;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo:after {
  /* content: "beta"; */
  color: var(--third);
  font-size: 0.75rem;
  height: 22px;
}

nav {
  display: flex;
  align-items: center;
  height: var(--nav-item-height);
  gap: 15px;
}

nav button {
  height: var(--nav-item-height);
}

#home {
  padding-top: var(--header-height);
  margin: 0 auto;
  max-width: 75vw;
}

#top {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#top h1,
#top p,
#top span {
  max-width: 475px;
}

#top h1 {
  max-width: 275px;
  margin-top: 5vh;
  font-size: 2.5rem;
}

.video-background {
  height: 349px;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.video-background:after {
  content: "";
  background: linear-gradient(to top, var(--background), transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 351px;
}

.video-background video {
  width: inherit;
}

.swiper1,
.swiper2,
.swiper3,
.swiper4,
.swiper5 {
  display: flex;
  align-items: center;
  gap: 5px;
  overflow-x: scroll;
}

.swiper1::-webkit-scrollbar,
.swiper2::-webkit-scrollbar,
.swiper3::-webkit-scrollbar,
.swiper4::-webkit-scrollbar,
.swiper5::-webkit-scrollbar {
  display: none;
}

.swipe-left,
.swipe-right {
  position: absolute;
  cursor: var(--link-cursor);
}

.swipe-left {
  background: linear-gradient(to left, transparent, black);
}

.swipe-left.hidden {
  opacity: 0;
  z-index: -1;
}

.swipe-right {
  right: 12.3vw;
  background: linear-gradient(to right, transparent, black);
}

#top10 .swipe-left,
#top10 .swipe-right {
  height: 225px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.swipe-left ion-icon,
.swipe-right ion-icon {
  font-size: 50px;
}

#top10 {
  display: flex;
  flex-direction: column;
}

#top10 .content {
  display: flex;
  gap: 40px;
  margin-left: 40px;
}

#top10 article {
  height: 225px;
  display: flex;
  gap: 2.5px;
}

article img {
  height: inherit;
  margin-right: -17.5px;
}

article img[alt="#1"] {
  margin: 0;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: inherit;
  background: var(--main-transparent);
  border-radius: var(--border-radius);
  z-index: 0;
}

.card:hover {
  transform: scale(1.33);
  transition-delay: 100ms;
}

.card:hover img {
  background: red;
  clip-path: polygon(0 65%, 100% 65%, 100% 0, 0 0);
}

.card:hover span {
  display: block;
}

.card img {
  aspect-ratio: 257/360;
  margin: 0;
  border-radius: var(--border-radius);
}

.card span {
  display: none;
  padding: 7.5px;
  margin-top: 95%;
  position: absolute;
}

#original,
#shonen,
#shojo,
#seinen {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#original .content,
#shonen .content,
#shojo .content,
#seinen .content {
  display: flex;
  gap: 7.5px;
}

#original .card,
#shonen .card,
#shojo .card,
#seinen .card {
  height: 300px;
}

#original .swipe-left,
#original .swipe-right,
#shonen .swipe-left,
#shonen .swipe-right,
#shojo .swipe-left,
#shojo .swipe-right,
#seinen .swipe-left,
#seinen .swipe-right {
  height: 300px;
  display: flex;
  align-items: center;
  z-index: 1;
}

#original article,
#shonen article,
#shojo article,
#seinen article {
  height: 300px;
  display: flex;
  gap: 2.5px;
}

footer {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: normal;
  border-top: 1px solid var(--fourth);
}

footer span {
  font-size: 0.675rem;
  max-width: 525px;
  text-align: center;
}
