#player-container {
  position: fixed;
  top: calc(10px + var(--header-height));
  bottom: 7px;
  left: 7px;
  right: 7px;
  background: var(--background-transparent);
  border: 1px solid var(--fourth);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

#close-player {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: var(--link-cursor);
}

#player {
  display: flex;
  gap: 10px;
}

#player video {
  width: 900px;
  border-radius: var(--border-radius);
}

#video-top {
  display: flex;
  gap: 10px;
  height: var(--top-height);
}

#video-right {
  display: flex;
  flex-direction: column;
  margin-top: var(--top-height);
  gap: 5px;
}