/* @media screen and (max-width: 1000px) {
  .context-menu {
    display: none !important;
  }
} */

a[href="/VoirAnimes/movies/"] {
  display: none !important;
}

.context-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bodybg-transparent);
  margin: 0;
  border: 1px solid var(--fourth);
  border-radius: var(--border-radius);
  font-family: sans-serif;
  transition: all 0.3s;
  z-index: 1000;
  display: none;
}

.context-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.context-menu ul li {
  padding: 7px 12px;
}

.context-menu ul li:hover {
  background-color: var(--fourth);
}