:root {
    --plyr-captions-background: var(--bodybg);
    --plyr-video-background: linear-gradient(to top, var(--bodybg), var(--bodybg));
    --plyr-video-controls-background: linear-gradient(to top, black, transparent);
    --plyr-range-fill-background: var(--accent-color);
    --plyr-video-control-background-hover: var(--accent-color);
    --plyr-control-toggle-checked-background: var(--accent-color);
    --plyr-control-radius: var(--border-radius);
    --plyr-captions-text-color: var(--second);
}

.plyr__captions {
    margin-bottom: 2vh;
}

.plyr__caption {
    font-size: 150%;
    padding: 5px !important;
    /* background: hsl(0, 100%, 0%, 90%) !important; */
    background: transparent !important;
    text-shadow: -1.75px -1.75px 0 var(--main), 0 -1.75px 0 var(--main), 1.75px -1.75px 0 var(--main), 1.75px 0 0 var(--main), 1.75px 1.75px 0 var(--main), 0 1.75px 0 var(--main), -1.75px 1.75px 0 var(--main), -1.75px 0 0 var(--main);
    border-radius: var(--border-radius);
    line-height: 150% !important;
}

.plyr--video {
    width: 100%;
    height: 100%;
    background: transparent !important;
    border-radius: var(--border-radius);
    z-index: 0;
    max-width: 100vw;
    max-height: 100vh;
    width: inherit;
    height: inherit;
    min-height: 25vh;
    /* z-index: 1000; */
}

.plyr__poster {
    display: none;
}

.plyr--full-ui a,
.plyr--full-ui button,
.plyr--full-ui input,
.plyr--full-ui label {
    cursor: var(--link-cursor);
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
    display: none !important;
}

.plyr:-webkit-full-screen,
.plyr:fullscreen {
    z-index: 1000;
    transform-style: preserve-3d;
    --plyr-video-background: black !important;
    position: static;
}


/* test */
:root {
    --webkit-text-track-display: none;
}

.plyr--full-ui ::-webkit-media-text-track-container {
    display: var(--webkit-text-track-display);
}

@media (--tablet) {
    .plyr--full-ui ::-webkit-media-text-track-container {
        display: block;
    }
}