:root {
--accent-color: #8ea99b !important;
}

.videocontainer .otherscontainer:before {
content: "Autres Animes:";
}

.othersinvideo {
display: none !important;
}

.top {
margin-right: 0 !important;
}
